<div class="mb-3">
  <button class="btn me-2" [ngClass]="{'btn-primary': filter === 'all','btn-outline-primary': filter !== 'all'}"(click)="setFilter('all')">All</button>
  <button class="btn me-2" [ngClass]="{'btn-success': filter === 'completed','btn-outline-success': filter !== 'completed'}" (click)="setFilter('completed')">Completed</button>
  <button class="btn" [ngClass]="{'btn-warning': filter === 'pending','btn-outline-warning': filter !== 'pending'}" (click)="setFilter('pending')">Pending</button>
</div>

<div *ngIf="tasks.length else noTasks">
  <app-task-item
    *ngFor="let task of getFilteredTasks()"
    [task]="task"
  ></app-task-item>
</div>

<ng-template #noTasks>
  <p>No tasks available.....</p>
</ng-template>
